<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://kit.fontawesome.com/4f0aa3da53.js" crossorigin="anonymous"></script>
    <title>@ViewData["Title"] - HospitalService</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    @*<link href="~/css/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/style.css">

    @*<environment include="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">*@

    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @*<link href="~/css/footerStyle.css" rel="stylesheet" />*@
    @*<link href="~/css/navStyle.css" rel="stylesheet" />*@
</head>
<body>
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">

                <div class="">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="#home-section" class="nav-link">Timetable</a></li>
                            <li><a asp-area="" asp-controller="Patient" asp-action="YourProfile" class="nav-link">Your Profile</a></li>
                            <li><a href="#about-section" class="nav-link">About</a></li>

                        </ul>
                    </nav>
                </div>

                <div class=" text-center mx-5">
                    <h1 class="m-0 site-logo"><a asp-area="" asp-controller="Common" asp-action="News">Hospital Service.</a></h1>
                </div>

                <div class="text-left">

                    <nav class="site-navigation position-relative" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a class="nav-link" asp-area="" asp-controller="Doctor" asp-action="GetDoctors" asp-route-category="">Doctors</a></li>
                            <li><a href="#clients-section" class="nav-link">Hospitals</a></li>
                            @*<li><a class="nav-link" asp-controller="Home" asp-action="Logout">Log Out</a></li>*@
                            <li>
                                <form asp-controller="Home" asp-action="Logout">
                                    <button class="btn btn-outline-dark" type="submit">Log Out</button>
                                </form>
                            </li>
                        </ul>
                    </nav>


                    <div class="d-inline-block d-lg-none" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

                </div>

            </div>
        </div>

    </header>

    @*<partial name="_CookieConsentPartial" />*@


    @RenderBody()
    @*<hr />
        <footer>
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div style="width:300px; margin-top:20px;" class="center-div">
                        <h3 class="h3-header">Hospital Service</h3>
                        <p>
                            Travel Agency is functioal service for order tickets.
                            You can choose country, town/city and hotel for unforgettable holidays.
                        </p>
                        <div class="row">
                            <i class="fab fa-instagram"></i>
                            &emsp;
                            <i class="fab fa-facebook-f"></i>
                            &emsp;
                            <i class="fab fa-pinterest"></i>
                        </div>
                    </div>
                    <div class="center-div" style="margin-top:20px;">
                        <h3>Quick Links</h3>
                        <ul>
                            <li>Home</li>
                            <li>Discounts</li>
                            <li>Hotels</li>
                            <li>Popular</li>
                            <li>Sign in</li>
                            <li>Register</li>
                        </ul>
                    </div>
                    <div style="margin-top:20px;">
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" style="width:200px" id="disabledTextInput" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bottom-div">© 2019 Anglina Ukrainets</div>
        </footer>*@

    @*<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>*@

    @*<environment include="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
            </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@


    <footer class="site-section bg-light footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3">
                    <h3 class="footer-title">Hospital<span style="color:darkblue">Service</span></h3>
                    <p>
                        Service that help you to connect with your doctor.
                        Doctors help you to solve problems with health.
                    </p>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3 class="footer-title">Links</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Timetable</a></li>
                                <li><a asp-area="" asp-controller="Patient" asp-action="YourProfile">Your profile</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            @*<h3 class="footer-title">Resources</h3>*@
                            <ul class="list-unstyled">
                                <li><a href="#">Doctors</a></li>
                                <li><a href="#">Hospitals</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <form asp-controller="Home" asp-action="Logout">
                                <button class="btn btn-outline-dark" type="submit">Log Out</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="footer-title">Follow Us</h3>
                    <a href="#" class="social-circle"><span class="icon-twitter"></span></a>
                    <a href="#" class="social-circle"><span class="icon-facebook"></span></a>
                    <a href="#" class="social-circle"><span class="icon-instagram"></span></a>
                    <a href="#" class="social-circle"><span class="icon-dribbble"></span></a>
                    <a href="#" class="social-circle"><span class="icon-linkedin"></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <p>
                        Angelina Ukrainets@2020
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    @*<script src="js/bootstrap.min.js"></script>*@
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>


    <script src="js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
