@model HospitalService.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}



<link href="~/css/loginStyle.css" rel="stylesheet" />

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Hospital<span>Service</span></div>
</div>
<br>
<div class="login">
    <input type="text" placeholder="username" name="user"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="submit" value="Login">
</div>

