@model HospitalService.ViewModels.LoginViewModel
@{
    Layout = null;
}



<link href="~/css/loginStyle.css" rel="stylesheet" />

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Hospital<span>Service</span></div>
</div>
<br>
<form method="post" asp-controller="Home" asp-action="Login">
    <div class="login">
        <input asp-for="Email" type="text" placeholder="email"><br>
        <span asp-validation-for="Email"></span>

        <input asp-for="Password" type="password" placeholder="password"><br>
        <span asp-validation-for="Password"></span>

        <input type="submit" class="btnConfirm" value="Login">
        <a asp-area="" asp-controller="Common" asp-action="ForgotPassword"><input type="button" class="btnConfirm" value="Forgot Password" /></a>
        <a asp-area="" asp-controller="Home" asp-action="Register"><input type="button" class="btnConfirm" value="Register" /></a>
        <input type="button" class="btnConfirm" value="Register as Doctor" />
    </div>
</form>

