@model HospitalService.ViewModels.ChangePasswordViewModel
@{
    Layout = null;
}

<link href="~/css/changePasswordStyle.css" rel="stylesheet" />

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Hospital<span>Service</span></div>
</div>
<br>
<form method="post" asp-controller="Common" asp-action="ChangePassword">
    <div class="login">
        <input asp-for="Password" type="password" placeholder="Password"><br>
        <span asp-validation-for="Password"></span>

        <input asp-for="PasswordConfirm" type="password" placeholder="Password Confirm"><br>
        <span asp-validation-for="PasswordConfirm"></span>

        <input type="submit" class="btnConfirm" value="Send">
    </div>
</form>