@model HospitalService.ViewModels.ForgotPasswordViewModel
@{
    Layout = null;
}

<link href="~/css/forgotPasswordStyle.css" rel="stylesheet" />

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Hospital<span>Service</span></div>
</div>
<br>
<form method="post" asp-controller="Common" asp-action="ForgotPassword">
    <div class="login">
        <input asp-for="Email" type="text" placeholder="Email"><br>
        <span asp-validation-for="Email"></span>

        <input type="submit" class="btnConfirm" value="Send">
    </div>
</form>